.container{
    margin: 80px 100px;
}
.left_side {
    float: left;
    max-width: 400px;
    margin: 0;
    padding: 1em;
    display: block;
}
.right_side {
    border-left: 1px solid #cccccc;
    margin-left: 250px;
    padding: 1em;
    overflow: hidden;
}
.left_side > h4{
    float:right;
}
.left_side > p{
    float:right;
    font-weight: bold;
}
meter::-webkit-meter-bar {
    background: #FFF;
    border: 1px solid #cccccc;
    width:200px;
}
meter::-webkit-meter-optimum-value {
    background: #f44336;
}
